# Workspace configuration
engine-strict = true
shared-workspace-lockfile=true
prefer-frozen-lockfile = true
verify-store-integrity = true

# Delay fresh releases
minimumReleaseAge = 1440 # only install package that is at least 1 day old

# Peer dependencies
auto-install-peers=true
strict-peer-dependencies=false
