.bbn-btn-icon {
  @apply inline-flex items-center justify-center rounded transition-all duration-200;
}

.bbn-btn-icon-small {
  @apply size-8;
}

.bbn-btn-icon-medium {
  @apply size-9;
}

.bbn-btn-icon-large {
  @apply size-10;
}

.bbn-btn-icon-contained {
  @apply text-accent-contrast bg-primary-light hover:brightness-110 disabled:bg-primary-light/30;
}

.bbn-btn-icon-outlined {
  @apply border border-secondary-strokeDark text-accent-primary hover:bg-secondary-strokeDark/5 hover:brightness-125 disabled:border-secondary-strokeDark/30 disabled:text-accent-primary/30 disabled:bg-transparent;
}
