NEXT_PUBLIC_MEMPOOL_API=https://mempool.signet.babylonlabs.io
NEXT_PUBLIC_API_URL=https://staking-api.canon-devnet.babylonlabs.io

# ETH Wallet Configuration
NEXT_PUBLIC_ETH_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_NETWORK=localhost

S3_PUBLIC_BUCKET=devnet-build-artifacts
NEXT_PUBLIC_REOWN_PROJECT_ID=e3a2b903ffa3e74e8d1ce1c2a16e4e27
NEXT_PUBLIC_VAULT_PROVIDER_URL=https://btc-vault-api.vault-devnet.babylonlabs.io
