NEXT_PUBLIC_MEMPOOL_API=https://mempool.space
NEXT_PUBLIC_API_URL=https://staking-api.testnet.babylonlabs.io
NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_DISPLAY_TESTING_MESSAGES=true
NEXT_PUBLIC_FIXED_STAKING_TERM=true
NEXT_PUBLIC_BBN_GAS_PRICE=0.007
NEXT_PUBLIC_BABY_RPC_URL=https://babylon-testnet-rpc.nodes.guru/
NEXT_PUBLIC_BABY_LCD_URL=https://babylon-testnet-api.nodes.guru/
NEXT_PUBLIC_BABYLON_EXPLORER=https://testnet.babylon.explorers.guru
# ETH Wallet Configuration
NEXT_PUBLIC_REOWN_PROJECT_ID=e3a2b903ffa3e74e8d1ce1c2a16e4e27
NEXT_PUBLIC_ETH_CHAIN_ID=11155111
NEXT_PUBLIC_ETH_RPC_URL=https://rpc.sepolia.org
