@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-accent-primary/80;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-accent-secondary/15;
  }
}

.react-tooltip {
  @apply !bg-[#F5F5F5] !text-accent-primary !rounded-md !text-xs !max-w-xs !px-3 !py-2 !opacity-100 !shadow-lg !z-[99999];
  text-wrap: pretty;
  max-width: min(280px, 90vw) !important;
}

/* Dark mode styles using :root selector */
:root.dark .react-tooltip,
:root[data-mode="dark"] .react-tooltip {
  @apply !bg-[#202020];
}

.react-tooltip.react-tooltip--secondary {
  @apply !text-accent-secondary;
}

.react-tooltip-arrow {
  @apply !text-[#F5F5F5];
}

/* Dark mode arrow styles */
:root.dark .react-tooltip-arrow,
:root[data-mode="dark"] .react-tooltip-arrow {
  @apply !text-[#202020];
}
