.bbn-list {
  @apply flex items-start gap-2;

  &-horizontal {
    @apply flex-row;
  }

  &-vertical {
    @apply flex-col;
  }

  &-adaptive {
    @apply flex-col md:flex-row;
  }
}

.bbn-list-item {
  @apply flex border-0 rounded bg-secondary-highlight px-6 py-4 w-full;

  &-horizontal {
    @apply flex-row items-center justify-between py-4 border-0;
  }

  &-vertical {
    @apply flex-1 flex-col items-start justify-start gap-1.5 px-6 border-0;
  }

  &-adaptive {
    @apply flex-1 border-0 items-center justify-between py-4 md:flex-col md:items-start md:justify-center md:px-6 md:py-4 md:flex-1 md:h-auto;
  }
}


.bbn-list-title {
  @apply text-accent-secondary overflow-hidden text-ellipsis whitespace-nowrap;

  &-adaptive {
    @apply text-base md:text-sm;
  }
}

.bbn-list-value {
  @apply text-accent-primary overflow-hidden text-ellipsis;

  &-horizontal {
    @apply flex items-center gap-1;
  }

  &-vertical {
    @apply flex w-full items-center justify-between;
  }

  &-adaptive {
    @apply flex items-center gap-1 md:w-full md:justify-between;
  }
}